:root {
  @apply light;
}

.dark {
  --color-primary: #1a202c;
  --color-secondary: #2d3748;
  --color-tertiary: #ffffff;
  --color-medium: #a0aec0;
  --color-accent: #F59E0B;
  --color-light-yellow: #FEF3C7;
  --color-success: #68d391;
}

.light {
  --color-primary: #ffffff;
  --color-secondary: #edf2f7;
  --color-tertiary: #2d3748;
  --color-medium: #718096;
  --color-accent: #F59E0B;
  --color-light-yellow: #FEF3C7;
  --color-success: #68d391;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  font-family: 'Source Sans Pro', sans-serif;
}
/* font-family: 'Playfair Display', serif; */


.toggle-checkbox:checked {
  right: 0;
  border: none;
  background-color: rgb(129 124 214);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' className='h-10 w-10' fill='%23FFF' viewBox='0 0 24 24' stroke='rgb(129 124 214)' > <path strokeLinecap='round' strokeLinejoin='round' d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z' /> </svg>");
}
.toggle-checkbox:checked + .toggle-label {
  background-color: rgb(76 73 188);
}   

h2 {
  font-family: 'Playfair Display', serif;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.8rem;
  color: var(--color-medium);
}